{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Reporte de Pago Quincenal</h1>
        
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Días Trabajados</th>
                        <th>Valor por Día</th>
                        <th>Total a Pagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>{{ pago[0] }}</td>
                        <td>{{ pago[1] }}</td>
                        <td>{{ pago[2] }}</td>
                        <td>${{ pago[3] }}</td>
                        <td>${{ pago[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <a href="/reporte_pago_excel" class="btn">📥 Descargar Excel</a>
    </div>
{% endblock %}